:root {
  /* Color properties */
  --color-black: #e0e0e0;
  --color-white: #0a0a0a;

  // --color-bg: #111111;
  // --color-bg-light: #191919;
  // --color-bg-light-hover: #1f1f1f;

  // --color-border: #272727;
  // --color-border-light: #2d2d2d;

  // --color-text: #e7e7e7;
  // --color-text-light: #9e9e9e;
  // --color-text-lighter: #646464;
  // --color-text-invert: #111111;

  --color-text: #151414;
  --color-text-light: #757575;
  --color-text-dimmed: #474747;

  --color-bg: #fffcf8;
  // --color-bg-light: #e5e2df;
  --color-bg-dark: #f7f0e8;

  --color-border: #dfceb9;
  --color-placeholder: #c0c0c0;

  --color-accent: #d76144;
  --color-accent-light: #faebe7;

  --color-secondary: #3b6061;

  --shadow: 0 4px 15px rgba(8, 8, 8, 0.25);
  --shadow2: 0 4px 15px rgba(8, 8, 8, 0.4);
}

:root {
  --radius-hg: 15px;
  --radius-lg: 10px;
  --radius-sm: 4px;
  --radius-tn: 3px;
}
