.button {
  &.btn-100 {
    width: 100%;
  }

  &.btn-wider {
    padding: 0 20px;
  }

  &.btn-small {
    height: 28px;
    line-height: 28px;
    padding: 0 10px;

    &.btn-icon {
      width: 28px;
      min-width: 28px;
      padding: 0;
    }

    &.btn-round {
      border-radius: 14px;
    }
  }

  &.btn-large {
    height: 48px;
    line-height: 48px;
    padding: 0 16px;

    &.btn-icon {
      width: 48px;
      min-width: 48px;
      padding: 0;
    }

    &.btn-round {
      border-radius: 24px;
    }
  }
}

.flex-wrap {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
}
