@import url("./style/reset.css");
@import url("./style/vars.css");
@import url("./style/service-item.css");
@import url("./style/form.css");
@import url("./style/login.css");
@import url("./style/services.css");
@import url("./style/table.css");
@import url("./style/log.css");
@import url("./style/permission.css");

@font-face {
  font-family: "Rubik";
  src: url("/fonts/Rubik-VariableFont_wght.ttf") format("ttf supports variations"),
       url("/fonts/Rubik-VariableFont_wght.ttf") format("ttf-variations");
  font-weight: 100 1000;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Rubik", var(--font-fallback);
  font-weight: 400;
  display: grid;
  width: 100%;
  min-height: 100vh;
  gap: 0;
  grid-template-columns: 224px 1fr;
  min-height: 880px;
  position: relative;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 0.7rem;
  width: 100%;
  text-align: center;
  color: var(--color-text);
}

footer a {
  text-decoration: none;
  color: var(--color-accent);
}

body.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

body.centered-content footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

body.centered-content footer a {
  color: var(--color-accent);
  font-weight: 600;
  text-decoration: none;
}


/* A S I D E */

aside {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  height: 100vh;
  position: sticky;
  top: 0;
  padding-bottom: 40px;
  border-right: 1px solid var(--color-border);
  padding-top: var(--top-padding);
}

aside nav {
  flex: 1;
  width: 100%;
}

aside ul {
  display: block;
  list-style: none;
  margin-left: auto;
  margin-bottom: 20px;
}

aside ul li {
  position: relative;
}

aside hr {
  margin: 20px 0;
  width: 100%;
}

aside ul li ul {
  border-top: 1px solid var(--color-border);

}

aside ul li > ul li a {
  font-size: 0.85rem;
  /* opacity: 0.5; */
  font-weight: 400;
  height: 30px;
  line-height: 30px;

  /* padding-left: ; */
}

aside ul li a {
  transition: 0.1s all ease-in-out;
  display: block;
  text-align: right;
  font-weight: 400;
  height: 40px;
  line-height: 40px;
  padding: 0 40px;
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--color-text-dimmed);
  text-decoration: none;
  /* background-color: transparent; */
}

aside ul li a:hover {
  background-color: var(--color-accent-light);
  color: var(--color-text);
}

aside ul li a:before {
  content: "";
  transition: 0.1s all ease-in-out;
  position: absolute;
  right: 0;
  top: 8px;
  bottom: 8px;
  width: 0px;
  background-color: var(--color-accent);
}

.active-link {
  font-weight: 700;
  color: var(--color-accent);
}

.active-link:before {
  width: 4px;
}

/* C O N T E N T */

h1,h2,h3,h4 {
  font-weight: 800;
  margin-bottom: 20px;
}

h1 {
  font-size: 4rem;
}

h1 + p {
  font-size: 1.6rem;
  margin-bottom: 60px;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.4rem;
  margin-bottom: 30px;
  color: var(--color-text-dimmed);
}

h4 {
  font-size: 1rem;
  color: var(--color-text-dimmed);
  text-transform: uppercase;
  margin-bottom: 30px;
}

p {
  line-height: 1.36em;
}

main {
  padding-top: var(--top-padding);
  position: relative;
  padding-bottom: var(--top-padding);
}

.container-full,
.container-small,
.container-large {
  margin-left: clamp(40px,10vw, 180px);
  width: 80%;
  max-width: 616px;
}

.container-large {
  max-width: 824px;
}

.container-full {
  width: 65vw;
  max-width: unset;
  max-width: 1920px;
}

hr {
  margin: 40px 0;
  border: none;
  border-bottom: 1px solid var(--color-border);
  width: calc(100% + 80px);
  margin-left: -40px;
  margin-right: -40px;
}

b {
  font-weight: 700;
}

.error {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 1rem;
  padding-top: 20px;
  color: var(--color-accent);
}

.logout {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding-right: 40px;
}

.logout button[type=submit] {
  padding: 8px 16px;
  font-size: 0.8rem;
}
