[service.account]
nice-name = "account.hivecom.net"
url = "http://localhost:3031/manage"
auth-url = "http://localhost:3031/api/auth"
health-url = "http://localhost:3031/api/health"

[service.scuffed]
nice-name = "scuffed.tv"
url = "http://localhost:8080/"
auth-url = "http://localhost:8080/api/auth"
health-url = "http://localhost:8080/api/health"
