{% extends "page.html" %}

{% block title %}Account - {% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="route-account">
  <div class="container-small">
    <h1>Your Account</h1>
    <h4>User information</h4>
    <form action="/account" method="post">
      <div class="input-item">
        <label for="username">Username</label>
        <input type="text" readonly required name="username" placeholder="My Awesome Username" value="{{ username }}">
      </div>
      <div class="input-item">
        <label for="email">Email</label>
        <input type="email" required name="email" placeholder="email@provider.cum" value="{{ email }}">
      </div>
      <button type="submit">Update</button>
    </form>
    <hr>
    <h4>Password</h4>
    <form action="/account" method="post">
      <div class="input-item">
        <label for="old_password">Old Password</label>
        <input type="password"  required name="old_password" autocomplete="current-password" placeholder="****************">
      </div>
      <div class="input-item">
        <label for="password">New Password</label>
        <input type="password"  required name="password" autocomplete="off" placeholder="********************">
      </div>
      <div class="input-item">
        <label for="password2">Repeat New Password</label>
        <input type="password"  required name="password2"  autocomplete="off" placeholder="********************">
      </div>
      <button type="submit">Update</button>
    </form>
  </div>
</div>
{% endblock %}