{% extends "page.html" %}

{% block title %}Account - {% endblock %}

{% block header %}
{% endblock %}
{% block content %}
<h2>Account settings</h2>
<p>Account settings. You can change your email or password here.
<form action="/account" method="post" >
<table class="account-details">
<tr>
<td><label for="username">Username:</label>
<td><input type="text" name="username" value="{{ username }}" readonly="readonly" required />

<tr>
<td><label for="email">Email:</label>
<td><input type="email" name="email" value="{{ email }}" required />

<tr>
<td><label for="password">New password:</label>
<td><input type="password" name="password" autocomplete="new-password" />

<tr>
<td><label for="password2">Repeat new password:</label>
<td><input type="password" name="password2" autocomplete="new-password" />

<tr>
<td><label for="old_password">Current password:</label>
<td><input type="password" name="old_password" autocomplete="current-password" required="required" />

<tr>
<td colspan="2"><input type="submit" style="width:100%;" value="Update" />
</table>
</form>
<br>
<form action="/auth/logout" method="post" >
<table class="account-details">
<td colspan="2"><input type="submit" style="width:100%;" value="Logout" />
</table>
</form>
{% endblock %}
