{% extends "page.html" %}

{% block title %}Audit log - {% endblock %}

{% block header %}{% endblock %}

{% block content %}
<div class="route-log">
  <div class="container-large">
    <h1>Audit Logs</h1>
    <p>Logs of all actions against the account database.</p>

    <table>
      <thead>
        <tr>
          <th>Action</th>
          <th>User</th>
          <th>Time</th>
        </tr>
      </thead>
      <tbody>
        {% for action in actions %}
        <tr>
          <td>{{ action.action|safe }}</td>
          <td>{{ action.performed_by }}</td>
          <td>{{ action.at }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
