{% extends "page.html" %}

{% block title %}Audit log - {% endblock %}

{% block header %}
<style>
.ok { background-color: #a9ffa9; }
.bad { background-color: #ffa9a9; }
</style>
{% endblock %}

{% block content %}
<div class="container-large" style="padding-bottom:80px;">
<h1>Audit logs</h2>
<p>Logs of all actions against the account database.
<table class="audit-logs">
<tr>
<th>Action
<th>User
<th>Time

{% for action in actions %}
<tr>
<td>{{ action.action|safe }}
<td>{{ action.performed_by }}
<td>{{ action.time_ago|duration }}
{% endfor %}

</div>
{% endblock %}
