{% extends "page.html" %}

{% block title %}Home - {% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="route-home">
  <div class="container-small">
    <h1>HIVE ID</h1>
    <p style="margin-bottom:40px;">A site for managing accounts across services from the Hivecom community.</>
  </div>

  <div class="container-large">
    <ul class="service-list">
      {% for (service, status) in services %}
      <li>
        <a href="/redirect?service={{ service.name }}" class="service-item">
          <div class="service-logo">
            {% if let Some(icon) = service.icon %}
            <img src="{{ icon }}" />
            {% else %}
            <div class="service-placeholder"></div>
            {% endif %}
          </div>
          <div class="service-content">
            <h3>{{ service.nice_name }}</h3>
            <p>{{ service.description }}</p>
          </div>

          {% if let Some(code) = status %}
            <div class="service-status">
              <span>{{ code }}</span>
            </div>
          {% endif %}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}