{% extends "page.html" %}

{% block title %}Home - {% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<h2>HiveID</h2>
<p>HiveID is a site for managing accounts across many services in the Hivecom community.
<table class="services">
<tr>
<th>Service
<th>Description
<th>Status

{% for service in services %}
{% let (service, status) = service %}
<tr>
<td><a href="/redirect?service={{ service.name }}">{{ service.nice_name }}</a>
<td>{{ service.description }}
<td>
{% if let Some(code) = status %}
{{ code }}
{% else %}
N/A
{% endif %}
{% endfor %}
</table>
{% endblock %}
