{% extends "page.html" %}

{% block title %}Invites - {% endblock %}

{% block content %}
<div class="route-invites">
    <div class="container-large">
        <h1>Invites</h1>
        <p>Create and manage links which are used to register new accounts.</p>
        <div class="key-title" style="gap:20px">
            <h4 style="margin-bottom:0;">All Invites</h4>
            <form action="/admin/invite/create" method="post">
                <button class="small" type="submit">New Invite</button>
            </form>
        </div>

        <table>
            <thead>
                <tr>
                <th>Status</th>
                <th>Link</th>
                <th>Created By</th>
                <th>Created At</th>
                <th>Used By</th>
                <th>Used At</th>
                <th>Revoke</th>
                </tr>
            </thead>
            <tbody>
                {% for link in links %}
                    <tr>   
                        
                        <td>
                            {% if let Some(_) = link.used_by %}
                            <span class="status used">Used</span>
                            {% else %}
                            <span class="status pending">Pending</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if let Some(_) = link.used_by %}
                            <a href="/register?invite={{ link.key }}">{{ link.key }}</a>
                            {% else %}
                            <a href="/register?invite={{ link.key }}">{{ link.key }}</a>
                            {% endif %}
                        </td>
                        <td>{{ link.created_by }}</td>
                        <td>{{ link.created_ago|duration }}</td>
                        <td>
                            {% if let Some(used_by) = link.used_by %}
                            {{ used_by }}
                            {% endif %}
                        </td>
                        <td>
                            {% if let Some(used_ago) = link.used_ago %}
                            {{ used_ago|duration }}
                            {% endif %}
                        </td>
                        <td>
                        <td>
                            {% if let None = link.used_by %}
                            <form action="/admin/invite/delete" method="post">
                                <input type="hidden" name="key" value="{{ link.key }}" />
                                <button type="submit" class="small">Revoke</button>
                            </form>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% match error %}
        {% when Some with (error) %}
        <p class="error">{{ error }}
        {% when None %}
        <!-- <p id="removed" class="success">Deleted invite link!</p>
        <p id="added" class="success">Created invite link!</p> -->
        {% endmatch %}
    </div>
</div>
{% endblock %}