<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="icon" href="/static/favicon.png">
    <title>Login - HiveID</title>
  </head>
  <body class="centered-content">
    <div class="route-login">
      <div class="login-header">
        <div class="service-logo">
          <img src="https://hivecom.net/public/favicon.png" alt="">
        </div>
        <div class="service-content">
          <p>Authenticate and start using <b>{{ service.nice_name }}</b> using your Hive ID credentials.</p>
        </div>
      </div>
      <div class="login-form">
        <form action="/api/login" method="post">
          <div class="input-item">
            <label for="username">Username</label>

            {% match username %}
            {% when Some with (username) %}
            <input type="text" name="username" value="{{ username }}" required placeholder="Your Username" />
            {% when None %}
            <input type="text" name="username" autofocus required placeholder="Your Username" />
            {% endmatch %}
          </div>
          <div class="input-item">
            <label for="password">Password</label>

            {% match username %}
            {% when Some with (username) %}
            <input type="password" name="password" autofocus required placeholder="****************" />
            {% when None %}
            <input type="password" name="password" required placeholder="****************" />
            {% endmatch %}
          </div>
          <button type="submit">Login</button>
          {% if login_failed %}
          <p class="error">Invalid username or password.</p>
          {% endif %}
          <input type="hidden" name="service" value="{{ service.name }}">
          <input type="hidden" name="redirect" value="{{ redirect_to }}">
        </form>
      </div>
    </div>
  </body>
</html>

