<!DOCTYPE html>
<title>Login - HiveID</title>
<link rel="stylesheet" href="/static/style.css" />
<link rel="icon" href="/static/favicon.png">
<meta charset="utf-8" />
<style>
.error { margin-top: 1em; background-color: #ffa9a9; padding: 0.5em; width: 14em; }
</style>
<main>

<form action="/api/login" method="post" >

<img src="/static/favicon.png" />
<p style="color:#333;">
Authenticate with <span class="service-text" title="Some description">{{ service.nice_name }}</span> using your Hivecom ID

<table class="login-table">

<tr>
<td><label for="username">Username:</label>
{% match username %}
{% when Some with (username) %}
<td><input type="text" name="username" value="{{ username }}" required />
{% when None %}
<td><input type="text" name="username" autofocus required />
{% endmatch %}

<tr>
<td><label for="password">Password:</label>
{% match username %}
{% when Some with (username) %}
<td><input type="password" name="password" autofocus required />
{% when None %}
<td><input type="password" name="password" required />
{% endmatch %}

<tr>
<td colspan="2"><button style="width:100%;">Login</button>

<input type="hidden" name="service" value="{{ service.name }}">
<input type="hidden" name="redirect" value="{{ redirect_to }}">

</table>

{% if login_failed %}
<p class="error">Invalid username or password
{% endif %}

</form>

</main>
