{% extends "page.html" %}

{% block title %}Permissions - {% endblock %}

{% block header %}{% endblock %}

{% block content %}
<div class="route-permissions">
    <div class="container-full">
      <h1>Permissions</h1>
      <p>Manage permissions for all registered Hivecom users.</p>

      <div class="input-item">
        <label for="service">Search</label>
        <input type="text" placeholder="Find a service..." name="search" id="search">
      </div>

      {% for s in service_roles %}
      <div class="service-permissions" id="{{ s.service_name }}">
        <div class="permission-header">
          <h4>{{ s.service_name }}</h4>
          <p>{{ s.roles.len() }} permissions</p>
        </div>
        <table class="permissions-wrap">
          <tr>
            <td class="permissions-users">
              <ul>
                <!-- users -->
                {% for u in user_roles %}
                    <li>{{ u.user }}</li>
                {% endfor %}
              </ul>
            </td>
            <td class="permissions-list">
              <table>
                <thead>
                  <tr>
                    <!-- roles -->
                    {% for role in s.roles %}
                        <th>{{ role }}</th>
                    {% endfor %}
                  </tr>
                </thead>
                <tbody>
                    <!-- role checkboxes -->
                    {% for u in user_roles %}
                        <tr>
                            {% for r in s.roles %}
                                {% if u.roles.contains(r.as_str()) %}
                                    <td><input id="{{ u.user }}+{{ s.service_name}}+{{ r }}" class="switch" checked type="checkbox" autocomplete=off /></td>
                                {% else %}
                                    <td><input id="{{ u.user }}+{{ s.service_name}}+{{ r }}" class="switch" type="checkbox" autocomplete=off /></td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>
          </tr>
        </table>
      </div>

      {% endfor %}
    </div>

    <div class="container-small">
      <div class="permissions-apply">
        <h2>Changes</h2>
        <p>Before applying, make sure you review all the changes.</p>
        <form action="/api/permissions" method="post">
            <div id="changes" class="changes-wrap">None</div>
            <button id="apply" disabled type="submit">Apply</button>
        </form>
            
        {% match error %}
        {% when Some with (error) %}
          <p class="error">{{ error }}
        {% when None %}
        {% endmatch %}
      </div>
    </div>

</div>
<script>
  const input = document.querySelector('#search')
  
  input.addEventListener('input', (event) => {
    const searchValue = event.target.value
  
    if (!searchValue || searchValue?.length === 0) {
      showAll()
    } else {
      nodeMap('.service-permissions', (node) => {
        if(!searchInStr(node.id, searchValue)) {
          node.style.display = 'none'
        } else {
          node.style.display = 'block'
        }
      })
    }
  })
  
  function searchInStr(match, input) {
    if (!match)
      return false
    const split = input.trim().split(/[\s-]+/)
    return split.every(s => match.toLowerCase().includes(s.toLowerCase()))
  }
  
  function nodeMap(identifier, fn) {
    const nodes = document.querySelectorAll(identifier)
    for (const node of nodes) {
      fn(node)
    }
  }
  
  function showAll() {
    nodeMap('.service-permissions', (node) => node.style.display = 'block')
  }
</script>

<script>
    let checkboxes = document.querySelectorAll(".switch");
    let original_values = {};
    
    for (let i = 0; i < checkboxes.length; i++) {
        let id = checkboxes[i].attributes["id"].value;
        let checked = checkboxes[i].checked;
        original_values[id] = checked;
        
        checkboxes[i].addEventListener("change", e => {
            let id = e.target.attributes["id"].value;
            let orig = original_values[id];
            let now = e.target.checked;
            let parent = e.target.parentNode;
    
            if (orig != now) {
                if (now) {
                    parent.classList.toggle("ok", true);
                    parent.classList.toggle("bad", false);
                } else {
                    parent.classList.toggle("ok", false);
                    parent.classList.toggle("bad", true);
                }
            } else {
                parent.classList.remove("ok");
                parent.classList.remove("bad");
            }
    
            updateSubmitForm();
        });
    }
    
    function gatherChanges() {
        let changes = [];
        for (let i = 0; i < checkboxes.length; i++) {
            let id = checkboxes[i].attributes["id"].value;
            let checked = checkboxes[i].checked;
            if (checked != original_values[id]) {

                let [name, service, role] = id.split("+");
                changes.push({ name, service, role, value: checked });
            }
        }
    
        return changes;
    }
    
    function updateSubmitForm() {
        let button = document.getElementById("apply")
        let container = document.getElementById("changes")
        let changes = gatherChanges();
    
        button.disabled = changes.length == 0;
    
        if (changes.length == 0) {
            container.innerText = "None";
        } else {
            let table = document.createElement("table");
            table.classList.add("permission-matrix");
            let row = document.createElement("tr");
            let c = document.createElement("th");
            c.innerText = "Name"
            row.appendChild(c);
            c = document.createElement("th");
            c.innerText = "Change"
            row.appendChild(c);
    
            table.appendChild(row);
    
            for (let i = 0; i < changes.length; i++) {
                row = document.createElement("tr");
                c = document.createElement("td");
                c.innerText = changes[i].name; 
                row.appendChild(c);
                c = document.createElement("td");
                c.innerText = changes[i].service + "/" + changes[i].role; 
                c.classList.toggle(changes[i].value ? "change-ok" : "change-bad", true);
                row.appendChild(c);
    
                let input = document.createElement("input");
                input.type = "hidden";
                input.name = changes[i].name + "+" + changes[i].service + "+" + changes[i].role;
                input.value = changes[i].value;
    
                row.appendChild(input);
                table.appendChild(row);
            }
    
            container.textContent = "";
            container.appendChild(table);
        }
    }
</script>
{% endblock %}
