<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="icon" href="/static/favicon.png">
    <title>Register - HiveID</title>
  </head>
  <body class="centered-content">
    <div class="route-register route-login">
      <div class="register-header">
        <h2>Register</h2>
        <p>You've been invited by <b>{{ inviter }}</b> to join Hivecom.</p>
        <p>After registration, you will be redirected to the Hive ID dashboard where you can access our applications.</p>
      </div>
  
      <div class="login-form">
        <form action="/register" method="post">
          <div class="input-item">
            <label for="username">Username</label>
            {% match username %}
            {% when Some with (username) %}
            <input type="text" name="username" value="{{ username }}" required placeholder="My username here" />
            {% when None %}
            <input type="text" name="username" autofocus required placeholder="My username here" />
            {% endmatch %}
          </div>
          <div class="input-item"> 
            <label for="email">Email</label>
            <input type="email" required name="email" placeholder="email@tmtu.com.eu.uk.com" autofill="email">
          </div>
          <div class="input-item">
            <label for="password">Password</label>
            {% match username %}
            {% when Some with (username) %}
            <input type="password" name="password" autofocus autofill="new-password" required />
            {% when None %}
            <input type="password" name="password" required autofill="new-password"/>
            {% endmatch %}
          </div>
          <div class="input-item">
            <label for="password2">Repeat Password</label>
            <input type="password" required name="password2" placeholder="**********************">
          </div>
          <button type="submit">Register</button>
          {% if let Some(error) = error_message %}
          <p class="error">{{ error }}</p>
          {% endif %}

          <input type="hidden" name="invite" value="{{ invite_key }}">
        </form>
      </div>
    </div>
  </body>
</html>