{% extends "page.html" %}

{% block title %}Services - {% endblock %}

{% block content %}
<div class="route-services">
  <div class="container-small">
    <h1>Services</h1>
    <p>Settings for all services connected to HiveID. </p>

    <!-- Create a service -->
    <h4>Add a service</h4>
    <form class="form-wrapper create-service" action="/admin/services/create" method="post">
      <div class="form-wrapper-box">
        <div class="input-item">
          <label for="service">Name</label>
          <input type="text" placeholder="new-service-name" name="name">
        </div>

        <button class="normal" type="submit">Create</button>
      </div>
    </form>

    <h4>Services</h4>

    {% for service in services %}
    <div class="form-wrapper" id="{{ service.name }}">
      <form action="/admin/services" method="post" enctype="multipart/form-data">
        <input type="hidden" name="name" value="{{ service.name }}" />

        <!-- Service id -->
        <div class="form-wrapper-box">
          <strong class="form-name" data-title="Internal service identifier.">{{service.name}}</strong>
        </div>

        <div class="form-wrapper-box">
          <div class="wrapper equal">
            <!-- Service name -->
            <div class="input-item">
              <label for="display-name" data-title="The display name of the service.">Name</label>
              <input type="text" name="display-name" value="{{ service.nice_name }}" placeholder="Display Name" />
            </div>

            <!-- Callback url -->
            <div class="input-item">
              <label for="callback-url" data-title="The URL which will receive the authentication cookie/token. This should be an absolute URI in most cases. The given URL should also allow HiveID in its CORS settings.">Callback URL</label>
              <input type="text"  name="callback-url" placeholder="/callback/url" value="{{ service.callback_url }}" />
            </div>
          </div>

          <!-- Description -->
          <div class="input-item">
            <label for="description" data-title="Description of the service.">Description</label>
            <textarea name="description" placeholder="Service name">{{ service.description }}</textarea>
          </div>
          <button class="normal" type="submit">Update</button>
        </div>  
        <!-- Service icon -->
        <div class="form-wrapper-box">
          <div class="wrapper equal">
            <div data-title="The icon which is displayed when logging into the service.">
              <input type="file" name="icon" accept="image/png" id="{{ service.name }}-icon" />
              <label for="{{ service.name }}-icon">Upload an Icon</label>
            </div>
            {% if let Some(icon) = service.icon %}
            <img src="{{ icon }}" />
            {% endif %}
          </div>
          
          <button class="normal" type="submit">Update</button>
        </div>
      </form>

      <div class="form-wrapper-box">
        <strong data-title="Define specific roles for this service.">All Roles</strong>

        <!-- List roles -->
        {% for role in service.roles %}
        <form action="/admin/services/roles/delete" method="post" class="input-item two">
          <input type="hidden" name="service-name" value="{{ service.name }}" />
          <input type="text" name="role" readonly value="{{ role }}" readonly>
          <button type="submit">Delete</button>
        </form>
        {% endfor %}

        <!-- Create role -->
        <form action="/admin/services/roles" method="post" class="input-item two no-m">
          <input type="hidden" name="service-name" value="{{ service.name }}" />
          <label for="role">Create a New Role</label>
          <input type="text" placeholder="new-role-name" name="role">
          <button class="normal" type="submit">Add Role</button>
        </form>
      </div>

      
      <!-- Secret key -->
      <div class="form-wrapper-box last">
        <div class="key-title">
          <strong data-title="Secret key used for encrypting JWT between HiveID and the service">Secret key</strong>
          <div class="divider"></div>
          <button class="small normal" onclick="navigator.clipboard.writeText('{{service.secret}}')">Copy</button>
          <form action="/admin/services/secret/generate" method="post">
            <input type="hidden" name="name" value="{{ service.name }}" />
            <button class="small" type="submit" >Generate</button>
          </form>
        </div>
        <details>
          <summary>
            Show key
          </summary>
          <input readonly value="{{ service.secret }}">
        </details>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
